<template name="intro_join_group_template">
    <div ng-controller="JoinGroupController as ctrl">
        <div class="join_group_body">
            <img src="resource/intro/web/img/progress3.png">
            <tabs class="joinGroupTab">
                <tab title="创建团队">
                    <div>
                        <div class="row">
                            <div class="col-xs-4 text-right ui-label">
                                属 性<span class="mark_req">*</span>
                            </div>
                            <div class="col-xs-8 text-left" style="padding-top: 7px;">
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" ng-model="company.type" value="personal"> 个人
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" ng-model="company.type" value="enterprise"> 企业
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 text-right ui-label">
                                名 称<span class="mark_req">*</span>
                            </div>
                            <div class="col-xs-8 text-left">
                                <input type="text" class="form-control input-sm" ng-model="company.name"/>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 25px;">
                            <div class="col-xs-12">
                                <div class="inline field" style="padding-left: 130px;">
                                    <button class="btn btn-primary btn-sm regbtn"
                                            data-loading-text="<i class='fa fa-spinner fa-spin '></i> 处理中..."
                                            type="button" ng-click="ctrl.selfCompany()">完成，进入体验
                                    </button>
                                </div>
                                <div class="inline field create_success">
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab title="加入已有团队">
                    <div>
                        <div class="row">
                            <div class="col-xs-12" style="text-align: left;">
                                <input class="searchGroup form-control" type="text" placeholder="请输入关键字..."
                                       key-enter="ctrl.search()"/>
                                <button class="btn btn-primary searchBtn" ng-click="ctrl.search()">
                                    <i class="fa fa-search"></i>
                                </button>
                                <div class="company_search_alert">查询最多返回10个团队信息</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui row company_table">
                        <table class="table table-bordered table-condensed text-left" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th style="width: 70px;">#</th>
                                <th>
                                    企业名称
                                </th>
                                <th style="width: 120px;">
                                    操作
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data in datas">
                                <td>{{$index + 1}}</td>
                                <td>{{ data.name }}</td>
                                <td>
                                    <button class="btn btn-success btn-xs" type="button" ng-click="ctrl.joinCompany($index)">申请加入</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </tab>
                <tab title="团队邀请码" ng-if="invite.hasCode">
                    <div class="row" style="padding-left: 60px;">
                        输入您收到的4位字符邀请码, 免激活直接加入团队
                    </div>
                    <div class="row">
                        <div class="col-xs-4 text-right ui-label">
                            邀 请 码 <span class="mark_req">*</span>
                        </div>
                        <div class="col-xs-8 text-left">
                            <input type="text" class="form-control input-sm" ng-model="invite.code"/>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 25px;">
                        <div class="col-xs-12">
                            <div class="inline field" style="padding-left: 130px;">
                                <button class="btn btn-primary btn-sm regbtn"
                                        data-loading-text="<i class='fa fa-spinner fa-spin '></i> 处理中..."
                                        type="button" ng-click="ctrl.checkInviteCode()"
                                        ng-disabled="invite.code.length != 4">马上加入
                                </button>
                            </div>
                            <div class="inline field create_success">
                            </div>
                        </div>
                    </div>
                </tab>
            </tabs>
            <div class="intro-footer" style="margin-top: 50px;text-align: center;">
                <p>粤ICP备16118320号</p> @工业设备物联云平台 2016
            </div>
        </div>

    </div>
</template>