.neptune-login-index .neptune-header {
    height: 50px;
    background-color: #ffffff;
}

.header-one-pic {
    display: inline-block;
    height: 50px;
    width: 30px;
    margin-left: 20px;
    background: url("../img/header_one.png") center no-repeat;
    background-size: 25px;
}

.header-two-pic {
    display: inline-block;
    height: 50px;
    width: 150px;
    margin-left: 10px;
    background: url("../img/header_two.png") center no-repeat;
    background-size: 150px 25px;
}

.neptune-body {
    position: absolute;
    height: calc(100% - 50px);
    width: 100%;
    background: url("../img/login_background.jpg") center no-repeat;
    background-size: cover !important;
}

.login-body {
    position: absolute;
    height: 340px;
    width: 820px;
    top: calc(50% - 200px);
    left: 50%;
    margin-left: -410px;
    box-shadow: 5px 6px 5px rgba(121, 118, 118, 0.15);
    background-color: #ffffff;
}

.login-left {
    display: inline-block;
    height: 340px;
    width: 49%;
    background: url("../img/login_left.png") center no-repeat;
}

.login-right {
    display: inline-block;
    height: 340px;
    width: 50%;
}

.login-form {
    position: absolute;
    width: 350px;
    height: 290px;
    margin: 40px 30px;
    border: 1px solid #EBEBEB;
}

.login-change-mode {
    height: 54px;
    border-bottom: 1px solid #EBEBEB;
}

.login-change-mode > span {
    display: inline-block;
    /*width: 49%;*/
    width: 100%;
    margin: 15px 0;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: center;
}

.login-change-mode > span:nth-child(1) {
    /*暂时隐藏验证码登录*/
    /*border-right: 1px solid #ebebeb;*/
}

.login-change-mode > span:hover, .login-change-mode > span.active {
    color: #488EFF;
}

.login-phone {
    margin: 30px 19px 20px;
    border: 1px solid #ebebeb;
}

.login-form input {
    display: inline-block;
    width: 308px;
    height: 38px;
    border: none;
    padding-left: 10px;
}

.login-pwd, .login-code {
    position: relative;
    margin: 0 19px;
    border: 1px solid #ebebeb;
}
.login-code >span{
    position: absolute;
    right: 10px;
    top: 0;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    cursor: pointer;
    width: 100px;
    text-align: right;
    color: #488EFF;
}
.login-confirm{
    height: 40px;
    line-height: 40px;
    margin: 19px;
    background-color: #488EFF;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.pass-fgtpwd {
    color: #232323;
    padding-top: 10px;
    text-align: left;
    padding-left: 0px;
    padding-bottom: 20px;
    padding-right: 19px;
}